#logo-body{
height: calc(100vh - 70px);

}
.super{
    font-size:calc(2rem * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio));
}


    .hideBig{

        display: none;
    }
@media screen and (max-width: 600px) {
    .hero {
        color: black
    }
    .super {
      font-size: calc(1rem * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio));
    }
    #description {
        position: absolute;
        top: 10vh;
    }
    .hideSmall {
        display:none;
    }
    #logo-body{
        height: calc(100vh - 30px);
        }
  }
footer a, footer a:visited{
    color:#83ff98;
}
a, a:visited, a:link{
    color:#83ff98
}

.navLinks{
    font-size:1.5em;
}
#description{
    position: absolute;
    top: 30vh;   
}
.feather {
    width: 1.5em;
    height: 1.5em;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }
 


::-webkit-scrollbar {
    width: 0px;  
    background: transparent;  /* Optional: just make scrollbar invisible */
}


::-webkit-scrollbar-thumb {
    background: #83ff98;
}